<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108493690664-3f6ei6gsaf5id3fa3nav6t1c8eh9aooa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108493690664-3f6ei6gsaf5id3fa3nav6t1c8eh9aooa</string>
	<key>API_KEY</key>
	<string>AIzaSyBW7LDLt8aPvMQxD0_FnhD1wS3zNn5hJtI</string>
	<key>GCM_SENDER_ID</key>
	<string>108493690664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationEng</string>
	<key>PROJECT_ID</key>
	<string>m-eng-c78cf</string>
	<key>STORAGE_BUCKET</key>
	<string>m-eng-c78cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108493690664:ios:3c97a5f87371fe0605a21d</string>
</dict>
</plist>